<!DOCTYPE html>
<html>
<head>
  <title>RailsSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class>
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Courses</a></li>
    <li role="presentation"><a href="#">Teachers</a></li>
  </ul>
</header>
<body class="text-center">

<%= yield %>
</body>

<nav>
  <ul class="pages">
    <li><%= link_to('Home', root_path) %></li>
  </ul>
</nav>

<footer>
Privacy Policy   -   Contact   -   2016 Jared Powers
</footer>
</html>
